{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Through Gaming</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/app.js' %}" defer></script>
</head>
<body>
    <div id="navbar"></div>
    <div id="main-content">
        <div id="home"></div>
        <div id="wordle" style="display:none;"></div>
    </div>
</body>
</html>
